@media only screen and (max-width: 1300px) {
  #m_formlineone {
    display: flex;
    flex-direction: column; }

  #m_formlinetwo {
    display: flex;
    flex-direction: column; }
    #m_formlinetwo #m_country {
      width: 50%; } }
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box; }

#bigContainer {
  margin: 0% 10%;
  box-shadow: 5px 5px 100px grey; }

header #h_banner {
  background-color: #FFF3F3; }
  header #h_banner #h_images {
    display: flex;
    justify-content: space-between;
    margin: 0% 3%;
    padding: 3% 0%; }
    header #h_banner #h_images #h_logo {
      align-self: center;
      width: 20%; }
    header #h_banner #h_images #h_banner {
      width: 50%; }
header #h_navbar {
  background-color: #8E1616; }
  header #h_navbar ul {
    display: flex;
    list-style-type: none;
    width: 100%;
    margin: 0% 3%;
    padding: 1% 0%; }
    header #h_navbar ul a {
      text-decoration: none; }
    header #h_navbar ul li {
      color: white;
      font-size: 3vh;
      margin-right: 5vh; }

main {
  background-color: #CECECE;
  background-image: url("/pics/background.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 1000px; }

#m_container #m_textOverForm {
  margin: 0% 3%;
  padding: 3% 0%; }
  #m_container #m_textOverForm p {
    color: white;
    font-size: 6.5vh; }
    @media only screen and (max-width: 800px) {
      #m_container #m_textOverForm p {
        font-size: 180%; } }
#m_container #m_formContainer {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.7);
  border: 3px solid darkgrey;
  margin: 0% 5%;
  padding: 3% 0%; }
  #m_container #m_formContainer #m_formheadertext {
    align-self: center;
    color: #2C2C2C;
    font-size: 6vh;
    width: 50%;
    text-align: center;
    margin-bottom: 3%; }
    @media only screen and (max-width: 800px) {
      #m_container #m_formContainer #m_formheadertext {
        font-size: 200%; } }
  #m_container #m_formContainer #m_form {
    margin: 0% 5%; }
    #m_container #m_formContainer #m_form #m_formlineone {
      display: flex;
      justify-content: space-between;
      align-content: center;
      padding: 4% 0%;
      margin: 0% 10%; }
      #m_container #m_formContainer #m_form #m_formlineone input {
        width: 100%;
        height: 5vh;
        font-size: 150%;
        border: 1px solid grey; }
        @media only screen and (max-width: 800px) {
          #m_container #m_formContainer #m_form #m_formlineone input {
            height: 3vh; } }
      #m_container #m_formContainer #m_form #m_formlineone p {
        font-size: 150%; }
    #m_container #m_formContainer #m_form #m_formlinetwo {
      display: flex;
      justify-content: space-between;
      align-content: center;
      padding: 4% 0%;
      margin: 0% 10%; }
      #m_container #m_formContainer #m_form #m_formlinetwo input {
        width: 100%;
        height: 5vh;
        font-size: 150%;
        border: 1px solid grey; }
        @media only screen and (max-width: 800px) {
          #m_container #m_formContainer #m_form #m_formlinetwo input {
            height: 3vh; } }
      #m_container #m_formContainer #m_form #m_formlinetwo select {
        width: 240%;
        height: 5vh;
        font-size: 150%;
        border: 1px solid grey; }
        @media only screen and (max-width: 1300px) {
          #m_container #m_formContainer #m_form #m_formlinetwo select {
            width: 100%; } }
        @media only screen and (max-width: 800px) {
          #m_container #m_formContainer #m_form #m_formlinetwo select {
            width: 100%;
            height: 3vh; } }
      #m_container #m_formContainer #m_form #m_formlinetwo p {
        font-size: 150%; }
    #m_container #m_formContainer #m_form #m_formbutton {
      display: flex;
      justify-content: center;
      margin: 0% 10%; }
      #m_container #m_formContainer #m_form #m_formbutton button {
        background-color: #339235;
        color: white;
        font-size: 4vh;
        border: solid 2px transparent;
        border-radius: 10px;
        width: 35%;
        height: 6vh;
        margin: 3% 0%;
        transition: 0.3s; }
        @media only screen and (max-width: 1000px) {
          #m_container #m_formContainer #m_form #m_formbutton button {
            font-size: 150%; } }
    #m_container #m_formContainer #m_form #m_formresult {
      display: flex;
      justify-content: center;
      font-size: 4vh; }
      @media only screen and (max-width: 800px) {
        #m_container #m_formContainer #m_form #m_formresult {
          font-size: 150%; } }
      #m_container #m_formContainer #m_form #m_formresult #m_formcalculation {
        margin: 3% 0%;
        text-align: center;
        color: #339235; }
#m_container #m_textUnderForm {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: auto; }
  #m_container #m_textUnderForm p {
    font-size: 4vh;
    text-align: center;
    margin: 3% 0%; }
    @media only screen and (max-width: 800px) {
      #m_container #m_textUnderForm p {
        font-size: 150%; } }
#m_container #m_underFormColumns {
  display: flex;
  justify-content: space-around;
  background-color: white; }
  #m_container #m_underFormColumns #m_leftColumn {
    border-top: solid 3px #3C3C3C;
    box-shadow: 5px 5px 15px lightgrey;
    width: 40%;
    margin: 5% 5%;
    padding: 2% 2%;
    font-size: 2.5vh; }
    #m_container #m_underFormColumns #m_leftColumn #m_leftColumnHeader {
      color: #6084A7;
      font-size: 3.5vh; }
      @media only screen and (max-width: 800px) {
        #m_container #m_underFormColumns #m_leftColumn #m_leftColumnHeader {
          font-size: 2.5vh; } }
    #m_container #m_underFormColumns #m_leftColumn #m_leftColumnSubheader {
      font-size: 2.8vh;
      margin-bottom: 5%; }
      @media only screen and (max-width: 800px) {
        #m_container #m_underFormColumns #m_leftColumn #m_leftColumnSubheader {
          font-size: 1.8vh; } }
    #m_container #m_underFormColumns #m_leftColumn ul {
      list-style-type: none;
      margin-bottom: 4%; }
      #m_container #m_underFormColumns #m_leftColumn ul li {
        margin-bottom: 5%; }
        @media only screen and (max-width: 800px) {
          #m_container #m_underFormColumns #m_leftColumn ul li {
            font-size: 2vh; } }
        #m_container #m_underFormColumns #m_leftColumn ul li .m_checks {
          color: #8ED2D4; }
    #m_container #m_underFormColumns #m_leftColumn #m_leftBenefitsHeader {
      font-weight: bold; }
      @media only screen and (max-width: 800px) {
        #m_container #m_underFormColumns #m_leftColumn #m_leftBenefitsHeader {
          font-size: 2vh; } }
    #m_container #m_underFormColumns #m_leftColumn #m_leftBenefits {
      color: grey; }
      @media only screen and (max-width: 800px) {
        #m_container #m_underFormColumns #m_leftColumn #m_leftBenefits {
          font-size: 2vh; } }
  #m_container #m_underFormColumns #m_rightColumn {
    border-top: solid 3px #3C3C3C;
    box-shadow: 5px 5px 15px lightgrey;
    width: 40%;
    margin: 5% 5%;
    padding: 2% 2%;
    font-size: 2.5vh; }
    #m_container #m_underFormColumns #m_rightColumn #m_rightColumnHeader {
      color: #6084A7;
      font-size: 3.5vh; }
      @media only screen and (max-width: 800px) {
        #m_container #m_underFormColumns #m_rightColumn #m_rightColumnHeader {
          font-size: 2.5vh; } }
    #m_container #m_underFormColumns #m_rightColumn #m_rightColumnSubheader {
      font-size: 2.8vh;
      margin-bottom: 5%; }
      @media only screen and (max-width: 800px) {
        #m_container #m_underFormColumns #m_rightColumn #m_rightColumnSubheader {
          font-size: 1.8vh; } }
    #m_container #m_underFormColumns #m_rightColumn ul {
      list-style-type: none;
      margin-bottom: 4%; }
      #m_container #m_underFormColumns #m_rightColumn ul li {
        margin-bottom: 5%; }
        @media only screen and (max-width: 800px) {
          #m_container #m_underFormColumns #m_rightColumn ul li {
            font-size: 2vh; } }
        #m_container #m_underFormColumns #m_rightColumn ul li .m_checks {
          color: #8ED2D4; }
    #m_container #m_underFormColumns #m_rightColumn #m_rightBenefitsHeader {
      font-weight: bold; }
      @media only screen and (max-width: 800px) {
        #m_container #m_underFormColumns #m_rightColumn #m_rightBenefitsHeader {
          font-size: 2vh; } }
    #m_container #m_underFormColumns #m_rightColumn #m_rightBenefits {
      color: grey; }
      @media only screen and (max-width: 800px) {
        #m_container #m_underFormColumns #m_rightColumn #m_rightBenefits {
          font-size: 2vh; } }

footer {
  background-color: #171717; }
  footer #f_navbar ul {
    display: flex;
    list-style-type: none;
    width: 100%;
    margin: 0% 3%;
    padding: 2% 0%; }
    footer #f_navbar ul a {
      text-decoration: none; }
    footer #f_navbar ul li {
      color: white;
      font-size: 2.5vh;
      margin-right: 2.5vh; }
  footer #f_image {
    display: flex;
    justify-content: flex-end;
    margin: 0% 3%;
    padding: 1% 0%; }
    footer #f_image #f_logo {
      align-self: center;
      width: 20%; }
  footer #f_text {
    display: flex;
    justify-content: center;
    margin: 0% 3%;
    padding: 1% 0%; }
    footer #f_text p {
      color: white;
      font-size: 2.5vh; }

/*# sourceMappingURL=style.css.map */
