$headerColor:#FFF3F3;
$navbarColor:#8E1616;
$footerColor:#171717;


@media only screen and (max-width:1300px)
{

	#m_formlineone
	{
		display:flex;
		flex-direction: column;
	}
	#m_formlinetwo
	{
		display:flex;
		flex-direction: column;
		
		#m_country
		{
			width:50%;
		}
	}	
}

*
{
	margin:0px;
	padding:0px;

	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;

}

body
{
	
}

#bigContainer
{
	margin: 0% 10%;
	box-shadow: 5px 5px 100px grey;
}

//header

header
{
	#h_banner
	{
		background-color: $headerColor;

		#h_images
		{
			display:flex;
			justify-content: space-between;

			margin: 0% 3%;
			padding:3% 0%;

			#h_logo
			{
				align-self: center;

				width:20%;
			}
			#h_banner
			{
				width: 50%;
			}
		}
	}
	#h_navbar
	{
		background-color: $navbarColor;
		ul
		{	
			display:flex;

			list-style-type: none;
			width:100%;
			margin: 0% 3%;
			padding: 1% 0%;
			
			a
			{
				text-decoration: none;
			}

			li
			{
				color:white;
				font-size: 3vh;
				margin-right: 5vh;	
			}
		}
	}
}

//main

main
{
	background-color: #CECECE;
	background-image: url("/pics/background.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	min-height: 1000px;		
}


#m_container
{
	#m_textOverForm
	{
		margin: 0% 3%;
		padding:3% 0%;

		p
		{
			color:white;
			font-size: 6.5vh;

			@media only screen and (max-width:800px)
				{
					font-size:180%;
				}
		}
	}


	#m_formContainer
	{
		display: flex;
		flex-direction: column;

		background-color: rgba(255, 255, 255, 0.7);
		border: 3px solid darkgrey;


		margin: 0% 5%;
		padding:3% 0%;

		#m_formheadertext
		{
			align-self: center;

			color: #2C2C2C;
			font-size: 6vh;

			width:50%;
			text-align: center;

			margin-bottom:3%;

			@media only screen and (max-width:800px)
				{
					font-size:200%;
				}
		}

		#m_form
		{
			margin: 0% 5%;

			#m_formlineone
			{
				display:flex;
				justify-content: space-between;
				align-content: center;

				padding:4% 0%;
				margin:0% 10%;

				input
				{
					width:100%;
					height: 5vh;
					font-size: 150%;

					border: 1px solid grey;

					@media only screen and (max-width:800px)
					{
						height:3vh;
					}
				}
				p
				{
					font-size: 150%;
				}
			}

			#m_formlinetwo
			{
				display:flex;
				justify-content: space-between;
				align-content: center;

				padding:4% 0%;
				margin:0% 10%;

				input
				{
					width:100%;
					height: 5vh;
					font-size: 150%;

					border: 1px solid grey;

					@media only screen and (max-width:800px)
					{
						height:3vh;
					}
				}

				select
				{
					width:240%;
					height: 5vh;
					font-size: 150%;

					border: 1px solid grey;

					@media only screen and (max-width:1300px)
					{
						width:100%;
						
					}
					@media only screen and (max-width:800px)
					{
						width:100%;
						height: 3vh;
					
					}
				}
				p
				{
					font-size: 150%;
				}
			}
			
			#m_formbutton
			{
				display:flex;
				justify-content: center;
				
				margin: 0% 10%;

				button
				{
					background-color: #339235;
					color:white;
					font-size: 4vh;
					border: solid 2px transparent;
					border-radius: 10px;
					
					width:35%;
					height:6vh;
					margin:3% 0%;

					transition:0.3s;

					@media only screen and (max-width:1000px)
					{
						font-size:150%;
					}
				}	
			}
			#m_formresult
				{
					display:flex;
					justify-content: center;

					font-size: 4vh;

					@media only screen and (max-width:800px)
					{
						font-size:150%;
					}
					
					#m_formcalculation
					{
						margin:3% 0%;
						text-align: center;
						color:#339235;
					}			
				}
		}
	}

	#m_textUnderForm
	{
		display:flex;
		justify-content: center;

		width:70%;
		margin:auto;
		
		p
		{
			font-size: 4vh;
			text-align: center;
			
			margin: 3% 0%;

			@media only screen and (max-width:800px)
					{
						font-size:150%;
					}
		}
	}
	
	#m_underFormColumns
	{
		display:flex;
		justify-content: space-around;

		background-color: white;

		#m_leftColumn
		{
			border-top: solid 3px #3C3C3C; 
			box-shadow: 5px 5px 15px lightgrey;
			width: 40%;
			margin: 5% 5%;
			padding: 2% 2%;

			font-size: 2.5vh;

			#m_leftColumnHeader
			{
				color:#6084A7;
				font-size: 3.5vh;

				@media only screen and (max-width:800px)
				{
					font-size:2.5vh;
				}
			}

			#m_leftColumnSubheader
			{
				font-size: 2.8vh;
				margin-bottom: 5%;

				@media only screen and (max-width:800px)
				{
					font-size:1.8vh;
				}
			}

			ul 
			{
				list-style-type: none;

				margin-bottom:4%;
				li 
				{
					margin-bottom:5%;

					@media only screen and (max-width:800px)
						{
							font-size:2vh;
						}

					.m_checks
					{
						color:#8ED2D4;
					}
				}
			}
			
			#m_leftBenefitsHeader
			{
				
				font-weight: bold;

				@media only screen and (max-width:800px)
					{
						font-size:2vh;
					}
			}

			#m_leftBenefits
			{
				color: grey;

				@media only screen and (max-width:800px)
					{
						font-size:2vh;
					}		
			}
		}

		#m_rightColumn
		{	
			border-top: solid 3px #3C3C3C; 
			box-shadow: 5px 5px 15px lightgrey;
			width: 40%;
			margin: 5% 5%;
			padding: 2% 2%;

			font-size: 2.5vh;

			#m_rightColumnHeader
			{
				color:#6084A7;
				font-size: 3.5vh;
				@media only screen and (max-width:800px)
				{
					font-size:2.5vh;
				}
			}

			#m_rightColumnSubheader
			{
				font-size: 2.8vh;
				margin-bottom: 5%;

				@media only screen and (max-width:800px)
				{
					font-size:1.8vh;
				}
			}

			ul 
			{
				list-style-type: none;

				margin-bottom:4%;
				li 
				{
					margin-bottom:5%;

					@media only screen and (max-width:800px)
						{
							font-size:2vh;
						}

					.m_checks
					{
						color:#8ED2D4;

					}
				}
			}
			
			#m_rightBenefitsHeader
			{
				
				font-weight: bold;

				@media only screen and (max-width:800px)
					{
						font-size:2vh;
					}
			}

			#m_rightBenefits
			{
				color: grey;

				@media only screen and (max-width:800px)
					{
						font-size:2vh;
					}
			}
		}
	}
}

//footer

footer
{
	background-color: $footerColor;
	#f_navbar
	{
		ul
		{	
			display:flex;

			list-style-type: none;
			width:100%;
			margin: 0% 3%;
			padding: 2% 0%;			
			a
			{
				text-decoration: none;
			}
			li
			{
				color:white;
				font-size: 2.5vh;
				margin-right: 2.5vh;			
			}
		}
	}
	#f_image
	{
		display:flex;
		justify-content: flex-end;

		margin: 0% 3%;
		padding: 1% 0%;
		
		#f_logo
		{
			align-self: center;
			width:20%;
		}
	}
	
	#f_text
	{
		display:flex;
		justify-content: center;

		margin: 0% 3%;
		padding: 1% 0%;
		p 
		{
			color:white;
			font-size: 2.5vh;
		}
	}
}




